{% extends 'base.html.twig' %}

{% block title %}New CategorieEvent{% endblock %}

{% block body %}
    <h1>Create new CategorieEvent</h1>

    {{ include('categorie_event/_form.html.twig') }}

    <a href="{{ path('app_categorie_event_index') }}">back to list</a>
{% endblock %}
